*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: aliceblue;
}

.header{
    width: 100%;
    height: 60px;
    text-align: center;
    position: absolute;
    top: 0;
    background-color: rgba(37, 132, 67, 0.645);
}
.header>h1{
    font-size: 25px;
    color: aliceblue;
}

.wrapper2{
    width: 90%;
    height: 80%;
    position: relative;
    top: 66px;
    left: 5%;
    background-color: white;
}
#profile{
    width: 100%;
    height: 340px;
    /* background-color: rgb(72, 127, 176); */
}
#profile>img{
    position: relative;
    top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#profile>h1{
    font-size: 25px;
}
#profile>p{
    font-size: 18px;
    color: gray;
}

#contact{
    width: 95%;
    height: 220px;
    position: relative;
    left: 2.5%;
    top:10px;
    border-radius: 10px;
    background-color: aliceblue;
}
#contact>h1{
    font-size: 25px;
    text-align: justify;
    position: absolute;
    left: 20px;
}
#contact>p{
    margin-top: 35px;  
    font-size: 25px;
    text-align: justify;
    position: absolute;
    left: 20px;
    
}
#hihi{
    float: left;
}

#contact>a>img{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 4px;
}
#face{
    position: absolute;
    left: 15%;
}
#ins{
    position: absolute;
    left: 18%;
}
#tiktok{
    position: absolute;
    left: 21%;
}
